<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'head.html' %}	
</head>
<body class="homepage">   
	<header id="header">
		{% include 'navbar.html' %}		
	</header><!--/header-->

	<section id="about-us">
		<div class="slider" style="margin-top: 2em;">
			<div class="container">
				<div id="about-slider">
					<img src="/static/images/committee.png" alt="Committee Group Photo" style="max-width: 60vw; max-height: 30vw; display: block; margin-right: auto; margin-left: auto;"> 
				</div><!--/#about-slider-->
			</div>
		</div>

		<div class="container">			
			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2 style="padding-top:1.2em;">Committee Members 2018/2019</h2>
					<p class="lead">The team responsible for planning events and charting the course of MUPA!</p>
				</div>

				<div class="row clearfix">

					<div class="col-md-4 col-sm-6" style="padding-bottom: 3em;">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<img class="media-object" src="/static/images/andy.png" alt="" style="width:70%;">
								</div>
								<div class="media-body">
									<h4 style="font-size:120%;">Andy Sitoh</h4>
									<h5 style="font-size:120%;">President</h5>
								</div>
							</div><!--/.media -->
							<p style="font-size:90%;">Hello, I am a psychology student completing his capstone project and I wish to dive into the confusing world of psychology research in the future. As a hobby, I dance salsa to relieve stress. One of the many things I dislike is being bad at something I really want to be great at.  My role in MUPA is moderating committee discussions and delegating tasks to keep the association running strong.</p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<img class="media-object" src="/static/images/nupur.png" alt="" style="width:70%;">
								</div>
								<div class="media-body">
									<h4 style="font-size:120%;">Nupur Achara</h4>
									<h5 style="font-size:120%;">Secretary</h5>
								</div>
							</div><!--/.media -->
							<p style="font-size:110%;">Heyyy guyyys, I’m Nupur and I’m your MUPA Secretary for 2019-20. I’m a second year Psychology major. If you find me around campus, don’t hesitate to approach me I swear I’m nicer than I look. </p>
						</div>
					</div><!--/.col-lg-4 -->					

					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<img class="media-object" src="/static/images/alice.png" alt="" style="width:70%;">
								</div>
								<div class="media-body">
									<h4 style="font-size:120%;">Alice McCairn</h4>
									<h5 style="font-size:120%;">Treasurer</h5>
								</div>
							</div><!--/.media -->
							<p style="font-size:110%;">Hey guys! I’m Alice and I’m your MUPA Treasurer for 2019-20. I’m a first year doing a Bachelor of Arts and majoring in Psychology. I spend most of my time lining up for a boost juice and looking for the best study </p>
							</div>
						</div><!--/.col-lg-4 -->		

					</div> <!--/.row -->

					<div class="row clearfix">   
						<div class="col-md-4 col-sm-6">	
							<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
								<div class="media">
									<div class="pull-left">
										<img class="media-object" src="/static/images/sanskriti.png" alt="" style="width:70%;">
									</div>

									<div class="media-body">
										<h4 style="font-size:120%;padding-top: 10px;">Sanskriti	Thakur</h4>
										<h5 style="font-size:120%;">Media Officer</h5>
									</div>
								</div><!--/.media -->
								<p style="font-size:90%;">Hey guys! I'm Sanskriti, or Sunny since I'm low-key the Sunshine of the group haha! I’m currently doing a double major in Psych and Media and Comm. I'm also the Media Officer for MUPA this year so better hide yourself before I post embarrassing stuff on you! I've always wanted a place where us psych students have a place to bond and give each other therapy (we all need it). Hope to meet you guys soon!</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
								<div class="media">
									<div class="pull-left">
										<img class="media-object" src="/static/images/jakob.png" alt="" style="width:70%;">
									</div>
									<div class="media-body">
										<h4 style="font-size:120%;padding-top: 10px;">Jakob	McKew</h4>
										<h5 style="font-size:120%;">Education Officer</h5>
									</div>
								</div><!--/.media -->
								<p style="font-size:110%;">Hey everyone! I am currently doing my Honours in Psychology and I am the education officer for MUPA. I spend most of my time reading research papers and have done 5 PALS sessions with the club.</p>
							</div>
						</div>


						<div class="col-md-4 col-sm-6">
							<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
								<div class="media">
									<div class="pull-left">
										<img class="media-object" src="/static/images/jasmine.png" alt="" style="width:70%;">
									</div>
									<div class="media-body">
										<h4 style="font-size:120%;padding-top: 10px;">Jasmine Kaur Sareen</h4>
										<h5 style="font-size:120%;">Events Officer</h5>
									</div>
								</div><!--/.media -->
								<p style="font-size:80%;">Hellloooo, how’s everyone doin’!” That’s my typical greeting y’all. So, hi! I go by the name Jasmine and identify with she/her pronouns. I am an INTJ on the MBTI Scale (read: truity.com/personality-type/INTJ), Except what you’ll find there, I am a paradoxical human being and I find acceptance of that fact by thinking that is my phase of existential crisis (the lies you tell yourself ((;). The cheekiest laugh with dimples on campus is mine, ahahaha! And that’s my attempt at being funny, you guys, that’s me, your Events Officer for 2019-20.</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
								<div class="media">
									<div class="pull-left">
										<img class="media-object" src="/static/images/serena.png" alt="" style="width:70%;">
									</div>
									<div class="media-body">
										<h4 style="font-size:120%;padding-top: 10px;">Serena Thomas</h4>
										<h5 style="font-size:120%;">General Committee Member</h5>
									</div>
								</div><!--/.media -->
								<p style="font-size:100%;">Heyaaa! I’m Serena and I’m your General committee member for MUPA and (unofficially) your Vice-Events Officer. I’m a second year Criminology and Psychology student so ya girl knows the struggles too. I’m a bubbly and outgoing human so if you ever need a chat about uni or what to binge on Netflix, I got you. Hope to see you around 😊</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
								<div class="media">
									<div class="pull-left">
										<img class="media-object" src="/static/images/uliana.png" alt="" style="width:70%;">
									</div>
									<div class="media-body">
										<h4 style="font-size:120%;padding-top: 10px;">Uliana Deshin</h4>
										<h5 style="font-size:120%;">General Committee Member</h5>
									</div>
								</div><!--/.media -->
								<p style="font-size:100%;">Hello! My name is Uliana (that's pronounced 'Oo-lee-yah-nah'). I am a General Committee Member and (unofficially) the Vice-Education Officer. I'm currently studying a Bachelor of Arts with a Psychology major (naturally) and an English & Theatre Studies minor. Tip: ask me about my cat and we'll get along splendidly. 🙂</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
								<div class="media">
									<div class="pull-left">
										<img class="media-object" src="/static/images/claudia.png" alt="" style="width:70%;">
									</div>
									<div class="media-body">
										<h4 style="font-size:120%;padding-top: 10px;">Claudia Kang</h4>
										<h5 style="font-size:120%;">General Committee Member</h5>
									</div>
								</div><!--/.media -->
								<p style="font-size:100%;">Hey!! I am a year 2 Psychology and Media& Communications student helping out Sanskriti with all media related work for the club! I tend to take up too many things at once but I try my best to get myself together. I love taking photos and I also do dance during my free time that’s how you’ll find me at parties or nightclubs.</p>
							</div>
						</div>

					</div>	<!--/.row-->
				</div><!--section-->
			</div><!--/.container-->
		</section><!--/about-us-->

		{% include 'navbar.html' %}		

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>   
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>