<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}	     
</head>
<body class="homepage">   
	<header id="header">
        {% include 'navbar.html' %}
    </header><!--/header-->

    <section id="contact-page" style="margin-top:10em;">
        <div class="container">
            <div class="center">        
                <h2 style="margin-bottom: 2em;">Contact Us</h2>
                 <ul class="contact" style="display: block;">
                <div class="row">
                    <div class="col-md-4">
                        <li><h4 style="display: inline-block;margin-bottom: 2em; ">Email:</h4><a href="mailto:mupa.general@gmail.com"><i class="fa fa-envelope fa-3x"></i></a></li>
                    </div>
                    <div class="col-md-4">
                        <li><h4 style="display: inline-block;margin-bottom: 2em;">Facebook: </h4><a href="https://www.facebook.com/MUPAUnimelb/"><i class="fa fa-facebook fa-3x"></i></a></li>
                    </div>
                    <div class="col-md-4">
                        <li><h4 style="display: inline-block;margin-bottom: 2em;">Instagram: </h4><a href="https://www.instagram.com/mupa_unimelb/"><i class="fa fa-instagram fa-3x"></i></a></li>
                    </div>
                </div>
            </ul>
            </div> 

        </div><!--/.container-->
    </section><!--/#contact-page-->

    {% include 'navbar.html' %}		

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>   
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>