    <!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}	
</head>
<body class="homepage">   
	<header id="header">
        {% include 'navbar.html' %}
    </header><!--/header-->

   <!-- <section id="services" class="service-item">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Service</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/services1.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/services2.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/services3.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/services4.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="images/services/services5.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="/static/images/services/services6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>                                                
            </div>
        </div>
    </section>-->


    <section id="feature" class="transparent-bg">
      <div class="container">

         <div class="clients-area center wow fadeInDown">
            <h2 style="margin-top: 1.5em;">Our Events for Semester Two</h2>
            <br/>
            <table style="width:100%;font-size: 150%;">
            <tr>
                <th style="text-align: center;">Date</th>
                <th style="text-align: center;">Event</th>
            </tr>
            <tr>
                <td>10.10.19 (Thursday, Week 10)</td>
                <td>World Mental Health Day BBQ/Picnic</td>
            </tr>
            <tr>
                <td>Week 12 and SWOTVAC </td>
                <td>Study Spaces in Arts West</td>
            </tr>
            <tr>
                <td>28.10.19 - 01.11.19 (Monday to Friday)</td>
                <td>SWOTVAC PALS Semester 2</td>
            </tr>
            </table>
        </div>
        <div class="clients-area center wow fadeInDown">
            <img src="static/images/stressless.png" style="display:inline-block; width:30%">
            <img src="static/images/studyspace.png" style="display:inline-block;width:30%">
        </div>


    </div><!--/.container-->
</section><!--/#feature-->

{% include 'navbar.html' %}		

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>   
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>